/* Dashboard.css */

.dashboardwrapper {
  display: flex;
}

.dashboardcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}

.dashboardcontainer {
  padding: 20px;
  padding-bottom: 20px;
  margin-top: 880px;
  margin-left: 240px;
  min-height: 100vh;
  min-width: 76vw;
}

/* 1) Conteneur des boutons, aligné à droite */
.dashboardactions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;           /* espace entre les boutons */
}

/* 2) Style commun des boutons */
.dashboardactions button {
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
}

/* 3) Bouton Mise à jour */
.btnupdate {
  background-color: #1976b4;
  color: #fff;
}
.btnupdate:hover {
  background-color: #125e90;
}

/* 4) Bouton Importer en Excel */
.btninterval {
  background-color: #A1F7B9;
  min-width: 260px;
  color: #fff;
}
.btninterval:hover {
  background-color: #71ef95;
}

.dashboardcards {
  display: flex;
  gap: 60px;
  margin-left: 10px;
  flex-wrap: wrap; /* Permet aux cartes de s'ajuster sur plusieurs lignes si nécessaire */
  align-items: center;
}

.smallones{ 
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.dashboardCharts {
  display: flex;
  gap: 20px;
  margin-left: 10px;
  margin-bottom: 15px;
}
