@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh; 
    background-color: #fafafa;
  }
  
  
  .login-container2 {
 
    width: 105%;
    max-width: 1500px; 
    height: 99vh; 
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0.1, 0.1);
    border-radius: 38px; 
    position: relative; 
    background: white;
    margin-top: -30px;
    margin-left: -35px;
    margin-bottom: -2rem;
 gap: 75px;}
  
  .left-side2 {
    width: 50%;
    margin-top: -25px;
    padding: 0px 60px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .right-side2 {
    width: 75%;
    overflow: hidden;
  }
  
 
  .logo {

    display: block;
    margin: 0 auto;
    width: 135px;
    height: auto;
    min-width: 50px;
    margin-top: -2.5rem;
  }
  
  
  .login-form h2 {
    margin-top: -30px;
    text-align: center;
    margin-bottom: 65px;
    color: #000000;
    font-size: 29px;
    font-weight: bold;
  }
  
  
  .login-form {
    margin-top: 50px;
    margin-left: 0.7rem;
    padding: 70px 50px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  }
  
  .login-form input {
    width: 90%;
    height: 0.8rem;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    font-size: 13px;
    outline: none;
  }
  
 
  .connect-button {
    width: 100%;
    padding: 10px;
    height: 2.7rem;
    margin-bottom: 1.2rem;
    border: none;
    border-radius: 15px;   
     font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .connect-button {
    background-color: #249CF4;
    color: white;
    font-weight: 550;
  }
  
  .connect-button:hover {
    background-color: #218bd6;
  }
 
 
  
  .back-to-home2 {
    display: flex;
    height: 2.5rem;
    width: 60%;
    align-items: center;
    padding: 12px 20px;
    background-color: #1976B4;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
    margin-left: -1.9rem;
  }
  
  .back-to-home:hover {
    background-color: #176da5;
  }
  
  .back-icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  
  .building-image {
   
    margin-left: 4rem;
    width: 90%;
    height:99vh;
    object-fit: cover;
    border-radius: 12px 12px 12px 12px;
  }

  
  .back-button1 {

    padding: 10px 7.3rem;
    height: 2.7rem;
  width: 15rem    !important;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;   
     font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #e0e0e0;
    color: #249CF4;
    font-weight: 550;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    
  }
  
  .back-button:hover {
    background-color: #fafafa; 
    color: #249CF4;
  }
  
 
  .back-icon {
    margin-right: 8px; 
  }
  .p{
    font-family: "Poppins";
    font-size: 1rem;
    text-align: center;
  }
  
 
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
      height: auto; 
    }
  
    .left-side {
      width: 100%;
      
    }
  
    .left-side {
      padding: 40px;
    }
    .right-side {
      display: none; /* Cache l'image */
  }
  
    .right-side {
      border-radius: 0 0 12px 12px;
    }
  }