@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh; 
    background-color: #fafafa;
  }
  

  .login-container {
 
    width: 105%; 
    max-width: 1500px; 
    height: 99vh; 
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0.1, 0.1);
    border-radius: 38px; 
    position: relative; 
    background: white;
    margin-top: -30px;
    margin-left: -35px;
    margin-bottom: -2rem;
gap: 75px;}
  
  .left-side {
    width: 50%;
    margin-top: -25px;
    padding: 0px 60px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .right-side {
    width: 75%;
    overflow: hidden;
  }
  
  /* Logo */
  .logo {

    display: block;
    margin: 0 auto;
    width: 135px;
    height: auto;
    min-width: 50px;
    margin-top: -2.5rem;
  }
  
  /* Titre */
  .login-form h2 {
    margin-top: -30px;
    text-align: center;
    margin-bottom: 65px;
    color: #000000;
    font-size: 29px;
    font-weight: bold;
  }

  .login-form {
    margin-top: 50px;
    margin-left: 0.7rem;
    padding: 70px 50px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  }
  

  
  .back-to-home4 {
    display: flex;
    height: 1.7rem;
    width: 60%;
    align-items: center;
    padding: 12px 20px;
    background-color: #1976B4;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
  }
  
  .back-to-home:hover {
    background-color: #3d94ce;
  }
  
  .back-icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  
  .building-image {
   
    margin-left: 4rem;
    width: 90%;
    height:99vh;
    object-fit: cover;
    border-radius: 12px 12px 12px 12px;
  }

  .back-button{
    
    margin-left: 0;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 0.7rem;
    background-color: white;
    color: #747474;
    font-weight: 600;
    height: 2.8rem;
    border: 1px solid #e0e0e0;
    padding: 3% 41%;
  }

  
  
  
  .password-field {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
  }
  
  .password-field input {
    width: 100%;
    padding-right: 40px;
  }
  
  .eye-icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
      height: auto; /* Hauteur ajustée pour les petits écrans */
    }
  
    .left-side {
      width: 100%;
      
    }
  
    .left-side {
      padding: 40px;
    }
    .right-side {
      display: none; /* Cache l'image */
  }
  
    .right-side {
      border-radius: 0 0 12px 12px;
    }
  }