.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 280px;
  width: 75%;
  padding-bottom: 0px;
  border-bottom: 2px solid #1976B4;
}

.tabsContainer {
  display: flex;
  gap: 10px;
}

.tabsContainer button {
  background: white;
  border: none;
  border-radius: 8px 8px 0 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  padding: 5px;
  color: black;
  width: auto;
  text-align: center;
  margin: 0;
}

.tabsContainer button:hover {
  background-color: #1976b454;
  color: white;
}

.tabsContainer .activeTab {
  font-weight: bold;
  background-color: #1976B4;
  color: white;
  border-bottom: 0.2px solid white;
  pointer-events: none;
}
