@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.navbar {
    
    width: 244px;
    background-color: #1976B4;
    height: 100vh; 
    color: white;
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    overflow: hidden; 
  
  }
  
  .logo1 {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 24px;
    margin-left: 52px !important;
    margin-bottom: 35px;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .navbar li {
    margin-left: 20px;
    padding-bottom: 15px;
    
    
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .navbar a:hover{
    background-color: #97efb0; /* Fond de l'élément actif */
    border-radius: 12px;
    height: 21px;
    margin-bottom: 7px;
    width: calc(100% - 40px);
  }
  .active .nav-item  {
    background-color: #A1F7B9; /* Fond de l'élément actif */
    border-radius: 12px;
    height: 21px;
    margin-bottom: 7px;
    width: calc(100% - 40px); /* Réduit la largeur du fond vert */
  
}
  .navbar ul li svg {
    font-size: 24px; 
    width: 21px;
    height: 21px;
    transition: font-size 0.3s ease-in-out;
    margin-right: 6px;
}
.navbar ul li span {
    
    font-weight: 500 ;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    position: relative;
    top: -5px; 
}

/* ======= RESPONSIVITÉ ======= */
@media (max-width: 768px) {
    .navbar {
        width: 200px; /* Réduction de la largeur sur petits écrans */
    }

    .logo {
        margin-top: 1.5rem;
        text-align: center;
        font-size: 24px;
      margin-left: 28px;
      }

    .navbar ul li {
        font-size: 16px;
        padding: 12px 8px;
    }
    .navbar ul li span {
    
        font-weight: 500 ;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        position: relative;
        top: -5px; 
    }

}
