.tabs {
    position: absolute;  /* Assurer un positionnement précis */
    top: 70px;  /* Ajustement pour éviter le chevauchement avec la topnav */
    left: 360px;  /* Décalage pour éviter la sidebar */
    width: 59%;
    display: flex;
    gap: 5px;
    border-bottom: 2px solid #1976B4;
    padding-bottom: 0px;
    justify-content: flex-start; /* Alignement à gauche */
}

/* Style des boutons */
.tabs button {
    background: white;  /* Définir par défaut un fond blanc */
    border: none;
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 10px 20px;
    color: black; /* Texte noir par défaut */
    min-width: 100px;
    text-align: center;
}

/* Effet hover */
.tabs button:hover {
    background-color: #1976b454;
    color: white;
}

/* Onglet actif */
.tabs .active-tab {
    font-weight: bold;
    background-color: #1976B4; /* Bleu */
    color: white; /* Texte blanc */
    border-bottom: 0.2px solid white; /* Pour éviter la ligne bleue en dessous */
    pointer-events: none; /* Désactive le hover et le clic */

}