.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
  }
  
  .card p {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .oui, .non {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    min-width: 150px;
  }
  
  .oui {
    background-color: #1976B4;
    color: white;
  }
  
  .non {
    background-color: #1976b454;
    color: #1976B4;
  }

/* Empêcher tout changement de style au survol et au clic */
.oui:hover, .oui:active, .oui:focus {
  background-color: #1976B4;  /* Garde la couleur de base */
  color: white;
  outline: none;
}

.non:hover, .non:active, .non:focus{
    background-color: #1976b454; /* Garde la couleur de base */
    color: #1976B4;
    outline: none;
}
  