.aboutCard {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 800px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.aboutHeader {
    background-color: #1976B4;
    color: white;
    padding: 10px 110px;
    border-radius: 10px;
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    position: absolute;
    top: -25px;
    right: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.aboutContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-top: 12px;
}

.aboutLeft, .aboutRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutContent p {
    margin: 4px 0;
    font-size: 14px;
    line-height: 2;
}

.aboutContent strong {
    color: #1976B4;
    font-weight: 500;
}

.icon {
    color: #1976B4;
    font-size: 16px;
    margin-right: 5px;
}

.fullWidth {
    grid-column: span 2;
    margin: 0 !important;
    padding: 0;
    line-height: 1 !important;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}


/* Tablette */
@media screen and (max-width: 900px) {
     .aboutLeft .aboutRight .aboutContent .aboutCard {
        width: 80%;
    }

    .aboutContent p {
        font-size: 10px ;
    }

    .aboutHeader {
        font-size: 22px;
        padding: 8px 60px;
        top: -20px;
        right: 20px;
    }

    .fullWidth {
        grid-column: span 1;
    }



}

/* Mobile */
@media (max-width: 600px) {
    .aboutHeader {
        font-size: 18px;
        padding: 6px 30px;
        top: -18px;
        right: 10px;
    }

    .aboutCard {
        padding: 20px;
    }

    .aboutContent p {
        font-size: 13px;
    }

    .icon {
        font-size: 14px;
    }
}
