

.profileCard {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 800px;
    min-width: 800px;
    width: 100%;
    position: relative; /* Permet de positionner l'étiquette */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.profileTitle {
    background-color: #1976B4;
    color: white;
    padding: 10px 100px;
    border-radius: 10px;
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    position: absolute;
    top: -30px; /* Légèrement au-dessus de la carte */
    right: 30px; /* Aligné à droite */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profileHeader {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    justify-content: flex-start;
}

.profileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}

.profileImage:hover {
    transform: scale(1.05);
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black; 
}

.profileInfo strong {
    color: #1976B4;
    font-weight: 600 ;
}

.profileInfo p {
    margin: 8px 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: black; 
}

.editButton {
    background: #A1F7B9;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: none;
    padding: 0% 0%;
    padding-right: 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.editButton:hover {
    background: #71ef95;
}

.editButton img {
    width: 35px;
    height: 35px;
}
