.chercheurs-container {
    margin-top: 4rem;
    display: flex;
    height: calc(100vh - 4rem); /* Prend toute la hauteur de la page */
  }
  
  .chercheurs-content {
    margin-left: 260px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center; /* Aligne les éléments verticalement */
  }
  
  
  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    flex: 1; /* Prend toute la largeur disponible */
  }
  
  .search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%; /* Prend toute la largeur disponible */
  }
  
  select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Ajoute une bordure */
    background-color: white; /* Fond blanc */
    cursor: pointer;
  }
  
  select:hover {
    border-color: #007bff; /* Change la couleur de la bordure au survol */
  }
  
  button {
    display: flex;
    align-items: center;
    gap: 5px; /* Espace entre l'icône et le texte */
    background-color: #007bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animation au survol */
  }
  
  button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
  }
  
  .btn-profile {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* Assure que la photo couvre toute la zone sans déformation */
  }
  
  /* Styles pour le tableau */
  .table-container {
    flex: 1; /* Prend toute la place disponible */
    overflow: auto; /* Ajoute un scroll si nécessaire */
  }
  
  /* Styles pour les lignes du tableau */
  .table-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Styles pour les cellules du tableau */
  .table-cell {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Styles pour la pagination */
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .pagination button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .pagination button:hover {
    background-color: #007bff;
    color: white;
  }