/* publication.module.css */

.publicationsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 550px;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  .publicationsContent {
    width: 100%;
  }

  .filtersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
    gap: 25px;
  }

  .searchBar {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px 10px;
    flex: 1;
  }
  
  .searchBar input {
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 16px;
    flex: 1;
  }
  
  .filterBtn {
    background-color: #A1F7B9;
    color: white;
    border: none;
    padding: 08px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .tableContainer {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Réduction de l'espacement entre les éléments de chaque ligne */
  .publicationRow td {
    padding: 6px 8px; /* réduit l'espace vertical et horizontal */
    white-space: nowrap;
  }
  
  /* Agrandissement de la colonne Titre */
  .publicationTitle {
    max-width: 350px; /* ou auto si tu veux laisser s'étendre */
    white-space: normal;
    word-wrap: break-word;
  }
  
  .actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Boutons */
  .viewBtn,
  .deleteBtn {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .viewBtn {
    background-color: #1976B4;
  }
  
  .deleteBtn {
    background-color: #249CF4;
  }
  
  .viewBtn:hover {
    background-color: #146195;
  }
  
  .deleteBtn:hover {
    background-color: #30a8fd;
  }
  

  .filterOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Ajout d’un fond assombri */
    backdrop-filter: blur(2px); /* Flou élégant */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  

  
  .closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  